.page-wrap

  .header
    h1 Postcards Gallery
    a.new-drawing href=new_drawing_path Draw a new Postcard

  - @drawings.each_slice(3) do |drawings|
    .row
      - drawings.each do |drawing|
        a.drawing href=drawing_url(url: drawing.url)
          img src=drawing.drawing.thumb.url
          p From #{ drawing.sender.empty? ? 'anonymous' : drawing.sender }
    hr.clear
