.postcard.view
  .rel
    .front
      .flip-button.postcard-button.right
        .text Flip
      img.drawing src=@drawing.drawing.url width='800' height="600"
    .back
      .flip-button.postcard-button.left
        .text Back
      .card
        .left
          .field
            - unless @drawing.message.empty? 
              .message= h(@drawing.message).gsub(/\n/, '<br>').html_safe
        .right
          .postmark
          .field
            .label From
            .from
              - if @drawing.sender.empty?
                | Anonymous
              - else
                = @drawing.sender
          .actions
            a.draw href='/' Draw a Postcard

a.back-link href=drawings_path
  | Gallery
  span Postcards by others

- if notice == 'yes'
  .overlay
    .overlay-message
      h3 Hooray!
      p Share the link to this postcard with anyone you want:
      p.link= @request_url
      a.close href='#' Ok, Close!