$.fn.classList = () -> $(this).attr('class').split(/\s+/)
$.preload = (url, callback) -> $('<img/>').attr({ src: url }).load callback
delay = (time, func) -> setTimeout func, time
every = (time, func) -> setInterval func, time
l10 = (number) -> Math.log(number) / Math.LN10

onLoad ->
  
  $canvas = $('#canvas')
  
  $('.flip-button').on 'click', -> $('.postcard').toggleClass 'flipped'
  
  $('.start-drawing').on 'click', -> $('.message').fadeOut 300
  

  $('.front .flip-button').on 'click', ->
    $('.back .postmark').removeClass 'face1 face2 face3 face4'
    $('.back .postmark').addClass "face#{ Math.ceil(Math.random() * 4) }"
  
  $('.overlay-message a.close').on 'click', (e) ->
    e.preventDefault()
    $('.overlay').fadeOut 300
  
  if $canvas.length
    cw = $canvas.width()
    ch = $canvas.height()
    chw = cw / 2
    chh = ch / 2
    ctx = $canvas.get(0).getContext('2d')

    mainStrokeStyle = 'rgba(255,255,255,0.4)'
    subStrokeStyle = 'rgba(255,255,255,0.01)'
    ctx.lineWidth = 1
    ctx.lineJoin = ctx.lineCap = 'round'
    
    $('.flip-button').on 'click', -> isDrawing = false

    isDrawing = false
    flipVisible = false
    points = []
    
    clearCanvas = ->
      ctx.clearRect 0, 0, cw, ch
      ctx.fillStyle = '#8AC7DE'
      ctx.fillRect 0, 0, cw, ch
      img = new Image
      img.onload = -> ctx.drawImage img, 0, 0
      img.src = "<%= asset_path('cardFrontBackground.jpg') %>"
      $('.flip-button').fadeOut 300
      flipVisible = false
      
    $.preload "<%= asset_path('cardFrontBackground.jpg') %>", clearCanvas
  
    transformedPoints = (originPoint) ->
      deltaX = originPoint.x - chw
      deltaY = originPoint.y - chh
      symmetryAngle = 60 * Math.PI / 180
    
      currentPointLocations = [ originPoint ]
    
      for angleTimes in [1..5]
        rotationAngle = symmetryAngle * angleTimes
        newX = chw + deltaX * Math.cos(rotationAngle) - deltaY * Math.sin(rotationAngle)
        newY = chh + deltaX * Math.sin(rotationAngle) + deltaY * Math.cos(rotationAngle)    
        currentPointLocations.push { x: newX, y: newY }
      
      for point in currentPointLocations
        currentPointLocations.push { x: (point.x - chw) * (-1) + chw, y: point.y }
    
      currentPointLocations

    $canvas.on 'mousedown touchstart', (e) ->
      e.preventDefault()
      isDrawing = true
      eventX = e.pageX or e.originalEvent.targetTouches[0].pageX
      eventY = e.pageY or e.originalEvent.targetTouches[0].pageY
      offset = $canvas.offset()
      eventX = eventX - offset.left
      eventY = eventY - offset.top
      points.push({ x: eventX, y: eventY })
      $('.flip-button').fadeIn 300 unless flipVisible
      flipVisible = true
    
    $canvas.on 'mouseup touchend', (e) ->
      e.preventDefault()
      isDrawing = false
      points.length = 0

    $canvas.on 'mousemove touchmove', (e) ->
      e.preventDefault()
      return unless isDrawing
      
      # for point in currentPointLocations
      #   ctx.beginPath()
      #   ctx.arc point.x, point.y, 2, 0, 2 * Math.PI, false
      #   ctx.fillStyle = 'rgba(255,255,255,0.4)'
      #   ctx.fill()
      eventX = if e.originalEvent.touches then e.originalEvent.touches[0].pageX else e.pageX
      eventY = if e.originalEvent.touches then e.originalEvent.touches[0].pageY else e.pageY
      offset = $canvas.offset()
      eventX = eventX - offset.left
      eventY = eventY - offset.top
      points.push({ x: eventX, y: eventY })
    
      lastPoint = { x: points[points.length-2].x, y: points[points.length-2].y }
      lastPointTransforms = transformedPoints lastPoint 
      currentPoint = { x: points[points.length-1].x, y: points[points.length-1].y }
      currentPointTransforms = transformedPoints currentPoint
    
      ctx.beginPath()
      ctx.strokeStyle = mainStrokeStyle
    
      deltaX = currentPoint.x - lastPoint.x
      deltaY = currentPoint.y - lastPoint.y
      distance = Math.sqrt deltaX * deltaX + deltaY * deltaY
      # ctx.lineWidth = 0 + (2 - l10(distance)) * 2
      ctx.lineWidth = 1 + Math.random() * 2
      for i in [0..11]
        ctx.moveTo lastPointTransforms[i].x, lastPointTransforms[i].y
        ctx.lineTo currentPointTransforms[i].x, currentPointTransforms[i].y
      ctx.stroke()
    
    $canvas.attr('tabindex', '1')
    .mousedown (e) ->
      $(this).focus()
      e.preventDefault()
    .keypress (e) ->
      console.log e
      if e.keyCode == 32
        e.preventDefault()
        clearCanvas()
    
    canvasToData = ->
      dataURL = $canvas.get(0).toDataURL 'image/jpeg'
      # binary = atob dataURL.split(',')[1]
      # array = ( binary.charCodeAt(i) for i in [0...binary.length] )
      # new Blob [new Uint8Array(array)], { type: 'image/png' }
      
    $('#new_drawing .actions input').on 'click', (e) ->
      $('#new_drawing .actions input').attr({ disabled: 'disabled', value: 'Saving...' });
      $('#new_drawing').append $('<input>').attr({ type: 'hidden', name: 'drawing[drawing_data]', value: canvasToData() })
      delay 30, -> $('#new_drawing').submit()